<div id="search" class="search">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_placeholder ~ '...' }}" />
	<button type="button" class="button-search"><i class="fl-puppets-magnifier58"></i></button>
</div>